@charset "utf-8";
body{background:#cadff0 url(../images/bg.gif) repeat-y center;}
ul{margin:0px; padding:0px;}
li{ list-style:none;}

#in{border:solid 1px #a4bed5; width:958px; height:678px; margin:50px auto;}

#top{background:url(../images/top_bg.gif) repeat-x; height:41px;}
	#top span{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:12px; color:#4e4e4e; padding-left:30px; line-height:43px;}

#banner{background:url(../images/banner.jpg); height:107px;}

#center{background:#fff url(../images/center_bg.gif) repeat-x; height:460px;}
	#left{background:url(../images/left_bg.png); width:210px; height:380px; float:left;}
	#left li {padding-left:50px; line-height:58px; color:#4e4e4e; background:url(../images/icon1.gif) no-repeat scroll 25px 23px transparent;}
	#left .hov{padding-left:50px; line-height:58px; color:#f7580a; background:url(../images/icon2.gif) no-repeat scroll 25px 23px transparent;}
	
	#right{float:left; padding:10px;}
	#right iframe{border: solid 1px #dedede; width:725px; _width:720px; height:405px;}
	#right_bd{ margin:10px auto 0 auto;}
	#right_bd span { font-family:"宋体"; font-size:12px; color:#1f5171; line-height:20px;}
		
		#right_bor{ width:725px;border:solid #c8d8e6 1px; background:#ffffff; margin:0 auto; }		
		#right_bor h1{ border-bottom:1px solid #c8d8e6;}
		#right_bor h2{ border-bottom:1px solid #c8d8e6;border-top:1px solid #c8d8e6;}
		#right_bor h3{ border-top:1px solid #c8d8e6;}
		#right_bor h1,#right_bor h2,#right_bor h3{ background:#eef4f7; margin:1px;font-family:"宋体"; font-size:14px; font-weight:bold; color:#074b85; line-height:42px; text-align:left; padding-left:20px; }
		
		#right_bor h4{ border-top:1px solid #ffffff;border-right:1px solid #ffffff;border-bottom:1px solid #c8d8e6;}
		#right_bor h5{ border-bottom:1px solid #c8d8e6;border-right:1px solid #ffffff;border-top:1px solid #c8d8e6;}
		#right_bor h6{ border-top:1px solid #c8d8e6;border-right:1px solid #ffffff;border-bottom:1px solid #ffffff;}
		#right_bor h4,#right_bor h5,#right_bor h6{ background:#eef4f7; margin:0px;font-family:"宋体"; font-size:14px; font-weight:bold; color:#074b85; line-height:42px; text-align:left; padding-left:20px; }
		#right_bor .hr1{border-top:1px solid #ffffff;border-bottom:1px solid #c8d8e6;border-left:1px solid #c8d8e6; background:#eef3f7; }
		#right_bor .hr2{border-top:1px solid #c8d8e6;border-bottom:1px solid #c8d8e6;border-left:1px solid #c8d8e6; background:#eef3f7; }
		#right_bor .hr3{border-top:1px solid #c8d8e6;border-bottom:1px solid #ffffff;border-left:1px solid #c8d8e6; background:#eef3f7;font-family:"宋体"; font-size:12px; font-weight:bold; color:#0f7e08; line-height:42px; padding-left:30px;}

		
		#right_bor table{text-align:left;font-family:"宋体"; font-size:12px; color:#303030; line-height:30px;  width:100%; border:0px; background-color:#f8fafb;border-left:solid #ffffff 1px;border-right:solid #ffffff 1px;}
		#right_bor .icon{background:url(../images/icon.gif)  no-repeat 25px 7px; padding-left:40px;}
		#right_bor .icon1{background:url(../images/icon.gif) no-repeat 25px 7px; padding-left:40px;border-top:solid #ffffff 1px; border-bottom:solid #e8e8e8 1px;border-right:solid #ffffff 1px;}
		#right_bor .icon2{background:url(../images/icon.gif) no-repeat 25px 7px; padding-left:40px;border-top:solid #ffffff 1px; border-bottom:solid #e8e8e8 1px;border-right:solid #ffffff 1px;}
		#right_bor .icon3{background:url(../images/icon.gif) no-repeat 25px 7px; padding-left:40px;border-top:solid #ffffff 1px; border-bottom:solid #ffffff 1px;border-right:solid #ffffff 1px;}
		#right_bor .green1{font-family:"宋体"; font-size:12px; font-weight:bold; color:#0f7e08;background:url(../images/r.gif) no-repeat 0px 0px; padding-left:40px;}
		#right_bor .red1{font-family:"宋体"; font-size:12px; font-weight:bold; color:#ac1111; background:url(../images/e.gif) no-repeat 0px 0px; padding-left:40px;}

		
		#right_bor .t1{border-top:solid #ffffff 1px; border-left:solid #ffffff 1px; border-bottom:solid #e8e8e8 1px;}
		#right_bor .l1{border-top:solid #ffffff 1px; border-left:solid #d4d4d4 1px; border-bottom:solid #e8e8e8 1px; padding-left:30px;}
		#right_bor .l2{border-top:solid #ffffff 1px; border-left:solid #d4d4d4 1px; border-bottom:solid #e8e8e8 1px; padding-left:30px;}
		#right_bor .l3{border-top:solid #ffffff 1px; border-left:solid #d4d4d4 1px; border-bottom:solid #ffffff 1px; padding-left:30px;}
	
		#right_table{background:#e3e3e3; width:640px; height:100px; padding:5px; margin:160px 0 0 40px;}
		#right_table_img{background:url(../images/r.png); width:120px; height:96px; position:absolute; margin-left:540px; margin-top:30px;behavior:url(iepngfix.htc);}
		#right_table2{background:#ec6318; width:640px; height:100px; overflow:hidden;}
		#right_table2_font{font-family:"Microsoft Yahei"; font-size:28px; color:#FFF; line-height:30px; text-align:left; margin-top:25px; margin-left:30px;}
		#right_table2_font span{font-size:14px;}
	

#footer{background:url(../images/footer_bg.gif) repeat-x; height:70px;}
	#footer .button {color:#074b85; background:url(../images/button_bg.gif) no-repeat; width:187px; height:35px; float:right; margin:20px 10px 0 0 ;}
	#footer .button a{display:block; line-height:32px; text-align:center; text-decoration:none; font-size:12px; color:#595959;}
	#footer .button a:hover{ background:url(../images/button_bg.gif) no-repeat 0 -35px; display:block; line-height:32px; text-align:center; text-decoration:none; font-size:12px; color:#914e00;}
		
	#footer .button2 {color:#074b85; background:url(../images/button_bg.gif) no-repeat -190px 0px; width:107px; height:35px; float:right; margin:20px 10px -190px 0 ;}
	#footer .button2 a{display:block; line-height:32px; text-align:center; text-decoration:none; font-size:12px; color:#595959;}
	#footer .button2 a:hover{ background:url(../images/button_bg.gif) no-repeat -190px -35px; display:block; line-height:32px; text-align:center; text-decoration:none; font-size:12px; color:#914e00;}